
<div>  
    
    <div class="modal-header">  
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>  
        <h4 class="modal-title" id="myModalLabel">FriendsInfo</h4>  
    </div>                 
    <hr />  
    <dl class="dl-horizontal">  
        <dt>hello world
            </dt>
    </dl>  
</div>  

<div id='myModal' class='modal'>  
    <div class="modal-dialog">  
        <div class="modal-content">  
            <div id='myModalContent'></div>  
        </div>  
    </div>   
      
</div>