<div style="border: 3px solid white; margin:0px;" class="alert alert-{{DisplayMode}}">
    <div class="modal-body" style="padding: 0px; border:0px solid none;">
        <button type="button" class="close" ng-click="cancel()" style="color:white; font-size:25px;">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
        <div class="alert alert-{{DisplayMode}} text-center" style="border:none;">
            <span class="fa fa-{{DisplayIcon}}-circle" style="font-size: 100px;"></span>
            <br />
            <br />
            <div style="border: 3px solid white; border-radius: 3px; padding:5px 4px;">
                <strong>{{DisplayMsg}}</strong>
            </div>
        </div>
    </div>
</div>
<!--<div style="border: 3px solid white; margin:0px;" class="alert bg-light-blue">
    <div class="modal-body" style="padding: 0px; border:0px solid none;">
        <button type="button" class="close" ng-click="cancel()" style="color:white; font-size:25px;">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
        <div class="alert text-center" style="border:none;">
            <span class="fa fa-{{DisplayIcon}}" style="font-size: 50px; border: 3px solid green; color:green; padding: 15px; border-radius: 50%;"></span>
            <br />
            <br />
            <div style="border: 3px solid green; border-radius: 3px; color:green; padding:5px 4px;">
                <strong>{{DisplayMsg}}</strong>
            </div>
        </div>
    </div>
</div>-->

